<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>타임리프 내장객체</title>
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="/js/jquery-3.6.1.js" th:src="@{/js/jquery-3.6.1.js}"></script>
    <script src="/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container mt-5">
  <div class="my-4 p-3 border">
    <p th:text="|strList : | + ${strList}"></p>
    <p th:text="|strMap : | + ${strMap}"></p>

    <p th:text="'strList의 크기( ${#lists.size(리스트명)} ) : ' + ${#lists.size(strList)}"></p>
    <p th:text="'빈 list의 여부( ${#lists.isEmpty(리스트명)} ) : ' + ${#lists.isEmpty(strList)}"></p>
    <p th:text="'strMap의 크기( ${#maps.size(Map명)} ) : ' + ${#maps.size(strMap)}"></p>
    <p th:text="'빈 map의 여부( ${#maps.isEmpty(Map명)} ) : ' + ${#maps.isEmpty(strMap)}"></p>

    <p th:text="${strMap.get('금룡')}"></p>
  </div>

    <div class="my-3 p-3 border">
<!--        속성 설정하기 : thymeleaf에는 일반적으로 사용되는 거의 모든 html 태그의 속성이 th: 형태로 구현되어 있음  -->
<!--        th:attr - 지정한 html 태그에 원하는 속성 및 값을 입력할 수 있는 속성  -->
<!--        타임리프에서는 th:attr 속성보다 th:html 속성 형태로 사용하는 것을 추천함  -->
        <a href="http://localhost:8080" th:href="@{http://www.daum.net}" th:text="'다음 홈페이지'">로컬 서버</a><br>
        <a href="http://localhost:8080" th:attr="href=@{http://www.daum.net}" th:text="'다음 홈페이지'">로컬 서버</a>
        <a href="http://localhost:8080" th:attr="href=@{http://www.naver.com}, alt='네이버', target='_blank'">네이버</a><br>

<!--        attrappen(뒤에 붙이는 것)/attrprepend(앞에 붙이는 것) : 지정한 html 속성에 값을 추가할 경우 사용  -->
        <a href="/board/openBoardDetail?idx=" th:attrappend="href=3" th:text="'상세글 열기'"></a>
        <button class="btn-primary" type="button" th:attrprepend="class='btn '">클릭</button>
    </div>

    <div class="my-4 p-3 border">
        <input type="checkbox" class="form-check" checked>체크 있음
        <input type="checkbox" class="form-check">체크 없음
        <input type="checkbox" class="form-check" th:checked="true">thymeleaf로 체크 있음
        <input type="checkbox" class="form-check" th:checked="false">thymeleaf로 체크 있음
        <br>
        <input type="radio" class="form-check" name="ra1" checked>선택1
        <input type="radio" class="form-check" name="ra1">선택2
        <input type="radio" class="form-check" name="ra1">선택3
        <br>
        <input type="radio" class="form-check" name="ra2">선택2-1
        <input type="radio" class="form-check" name="ra2" th:checked="true">선택2-2
        <input type="radio" class="form-check" name="ra3">선택2-3
        <br>
        <select class="form-control">
            <option>선택1</option>
            <option>선택2</option>
            <option th:selected="true">선택3</option>
        </select>
        <br><br><br><br><br>
    </div>
</div>
</body>
</html>